{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <input type="hidden" id="informations_author" name="informations[author]" required="required" value="{{app.user.id}}"/>
    <button class="btn">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
